@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@media screen and (max-width: 460px)  {
    body {
        font-size: 14px;
        background-color: #181717; /* Cambia el fondo para pantallas verticales pequeñas */
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .inicio .contenido-banner h1 {
        font-size: 28px;
    }

    .inicio .contenido-banner h2 {
        font-size: 14px;
    }
}
/* MENU */
.contenedor-header{
    background: #0a0a0a;
    position:fixed; /* Pegajoso */
    top: 0; /* Se fija al borde superior */
    width: 100%; /* Ocupa el ancho completo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    background: #0a0a0a; /* Fondo oscuro */
}

.contenedor-header  header{
    max-width: 1400px;
    margin:  auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
}

.contenedor-header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header ul li a{
    text-align: none;
    color: #fff;
    margin: 0 20px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 460px) {
    #nav {
        display: none; /* Ocultar el menú por defecto */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #0a0a0a;
        width: 100%;
        text-align: center;
    }

    #nav.active {
        display: block; /* Mostrar el menú al activarlo */
    }

    .contenedor-header header ul {
        flex-direction: column; /* Apilar enlaces verticalmente */
    }

    .contenedor-header header ul li a {
        margin: 10px 0;
    }
}
section {
    padding-top: 60px; /* Altura del menú para evitar superposición */
}

@media screen and (max-width: 480px) {
    .contenedor-header {
        padding: 10px; /* Reduce el tamaño del menú */
    }

    .contenedor-header .logo a {
        font-size: 24px; /* Reduce el tamaño del texto del logo */
    }

    .contenedor-header header ul li a {
        font-size: 16px; /* Ajusta el tamaño de los enlaces */
    }
}

/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgb(30, 33, 34)),
    url(img/analisis-datos.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    background-attachment: fixed
}

.inicio .contenido-banner{
    padding: 30px;
    background: linear-gradient(to top, rgba(22, 26, 27, 0.8), rgb(13, 14, 14));
    max-width: 360px ;
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 45px ;

    
}
.inicio .contenido-banner:hover {
    transform: rotate(0.1deg) scale(1.01);
    box-shadow: 15px 10px 5px #000;
}

.inicio .contenido-banner img{
    margin-top: 30px;
    border: 5px solid #34504a;
    display: block;
    width: 65%;
    margin: auto;
    border-radius: 50%;
    background-color: #2c363b;
}
.inicio .contenido-banner .contenedor-img img:hover {
    filter: brightness(0.65); /* Oscurece la imagen */
    transform: scale(1.1); /* Amplía la imagen ligeramente */
    transition: all 0.3s ease; /* Añade un efecto suave */
}
.inicio .contenido-banner h1{
    font-family: 'Merriweather';
    margin-top: 20px;
    font-size: 36px;
    /*font-family: 'Righteous';*/
}

.inicio .contenido-banner h2{
    font-size: 15px;
    margin-top: 10px;
    font-weight: normal;
}
.inicio .contenido-banner h3{
    font-size: 17px;
    margin-top: 10px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .1s;
    justify-content: center;
    
}

.inicio .contenido-banner .redes a:hover{
    background-color: #139c81;
    transform: scale(1.2);
}

/*sobre mi */

.sobremi{
    background-color: #1c1f20;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 17px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
    font-size: 24px;
}

/* SECCION PORTFOLIO */
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 100px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 10px;
}

.overlay {
    transition: opacity 0.5s ease;
}


/* SECCION CURRICULUM */
.curriculum{
    background-color: #1c1f20;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1300px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #000000c0;
    position: relative;
    border-radius: 16px;
}
.curriculum .fila .item h4{
    font-size: 22px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #a6d8ce;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .item p li{
    line-height: 24px;
}

.curriculum .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

.curriculum a{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 10px;
    width: fit-content;
    display: block;
    margin: 12px auto;
    padding: 10px 35px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 100;
    text-decoration: none;

}


.curriculum a:hover{
    transform: scale(1.12);
    background-color: #1CB698;
    text-decoration: none;

}
.curriculum  a:hover .overlay{
    width: 100%;
    
}


/* SECCION S K I L L S */
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .sql{
    width: 0%;
    animation: 2s sql forwards;
}
@keyframes sql {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .power_bi{
    width: 0%;
    animation: 2s power_bi forwards;
}
@keyframes power_bi {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 94%;}
}



/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
/*intereses*/
.contacto .fila{
    display: flex;
}
.contacto  .col{
    width: 100%;

}
.contacto  .col h3{
    font-size: 30px;
    font-family: 'Righteous';
    margin-bottom: 20px;
}
.contacto .fila .col ul{
    list-style: none;
}
.contacto .fila .col ul li{
    margin: 12px 0;
    font-size: 18px;
}
.contacto .fila .col ul li strong{
    display: inline-block;
    font-size: 18px;
    color: #1CB698;
    width: 100px;
}


.contacto  .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.contacto  .col .contenedor-intereses .interes{
    width: 80px;
    height: 80px;
    background-color: #252A2E;
    border-radius: 10px;
    margin:  12px 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.contacto  .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
    transform: scale(1.05);
}
.contacto  .col .contenedor-intereses .interes i{
    font-size: 20px;
    margin-bottom: 10px;
}
.contacto .fila a {
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 20px;
    width: fit-content;
    display: block;
    height: 42px;
    margin: 40px 150px;
    padding: 3px 35px;
    font-size: 30px;
    color: #fff;
    position: relative;
    z-index: 30;

    /*color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .1s;
    justify-content: center;*/
    
}
.contacto .fila a.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 2;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
    border-radius: 6;
    
}
.contacto .fila a:hover {
    transform: scale(1.12);
    background-color: #1CB698;
    

}
.contacto button:hover .overlay{
    width: 100%;
    border-radius: 12px;
}

/**/
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 20px 0 15px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .1s;
    justify-content: center;
    
}

footer .redes a:hover{
    background-color: #1CB698;
    transform: scale(1.2);
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
footer p {
    color: #0bc9f834;
    text-decoration: none;
    
}
footer p:hover {
    color:#fff; /* Cambia al color que prefieras */
    transform: scale(1.0);
}


/*logos*/
#technologies {
    text-align: center;
    padding: 20px;
    background-color: #252A2E;
}

#technologies h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:#fff;
}

.logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.logo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85px;
}

.logo-item img {
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 10px;

}

.logo-item p {
    font-size: 12px;
    margin: 0;
    color: #fff;
    border-radius: 10px;
}
.logo-item img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.logo-item p:hover {
    color:#fff; /* Cambia al color que prefieras */
    transform: scale(1.2);
    border-radius: 10px;
}

.logo .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
    color: #333;
}

.logo .icons i:hover {
    color: #007bff; /* Cambia el color al pasar el ratón */
    transform: scale(1.2);
    transition: color 0.3s ease, transform 0.3s ease;
}


:root {
    --primario: #1CB698;
    --fondo-claro: #252A2E;
    --texto-claro: #fff;
}


.contenedor-header {
    background: var(--fondo-claro);
}


















